<!DOCTYPE html>
<html>

<head>
    <title>
        Dashboard page
    </title>

    <meta charset='utf-8' />

    <link rel='apple-touch-icon' sizes='180x180' href='/fav/apple-touch-icon.png' />
    <link rel='icon' type='image/png' sizes='32x32' href='/fav/favicon-32x32.png' />
    <link rel='icon' type='image/png' sizes='16x16' href='/fav/favicon-16x16.png' />
    <link rel='manifest' href='/fav/site.webmanifest' />
    <link rel='mask-icon' href='/fav/safari-pinned-tab.svg' color='#5bbad5' />
    <meta name='msapplication-TileColor' content='#da532c' />
    <meta name='theme-color' content='#ffffff' />

    <link href='css/normalize.css' rel='stylesheet' />

    <link href='css/dashboard.css' rel='stylesheet' />

    <meta name="viewport"
        content="viewport-fit=cover, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
</head>

<body>

    <div class="page page--dashboard">
        <aside class="page_aside aside vertical vertical-big">
            <div class="aside__logo text">
                Sidebar
            </div>
            <nav class="vertical vertical-small">
                <a href="" class="nav-button nav_button_activ click">
                    <span class="icon nav-button__icon" style="background-image: url('/svg/nav/home.svg');"></span>
                    <span class="text text-light">Home</span>
                </a>
                <a href="" class="nav-button click">
                    <span class="icon nav-button__icon" style="background-image: url('/svg/nav/orders.svg');"></span>
                    <span class="text text-light">Orders</span>
                </a>
                <a href="" class="nav-button click">
                    <span class="icon nav-button__icon" style="background-image: url('/svg/nav/products.svg');"></span>
                    <span class="text text-light">Products</span>
                </a>

            </nav>
        </aside>

        <header class="header">
            <div class="layout header_content text-small ">
                <div class="header_search relative">
                    <input type="text" placeholder="Search" class=" text field field--header">
                    <span class="icno header__icon-search" style="background-image: url('/svg/header/search.svg');">
                    </span>
                    <span class="icno icon--header-settings icon_button icon--color-blue click"
                        style="background-image: url('/svg/header/setting.svg');">
                    </span>
                </div>
            </div>
            <div class="nav_icons">
                <span class="icon icon--hedeader-net click icon_button"
                    style="background-image: url('/svg/header/net.svg');"></span>
                <span class="icon icon--hedeader-language click icon_button"
                    style="background-image: url('/svg/header/language.svg');"></span>
                <span class="icon icon--hedeader-beall click icon_button"
                    style="background-image: url('/svg/header/beall.svg');"></span>
            </div>
        </header>
        <main class="main">
            <div class="layout">
                <section class="box analytic__block">
                    <div class="analytic analytic--double analytic--blue">
                        <span class="icon analytic_button icon--color-blue click icon_button"
                            style="background-image: url('/svg/analytic/order.svg');">
                        </span>

                        <div class="relative vertical vertical-small">
                            <div class="analytic__title text text-light">$961</div>
                            <div class="analytic__info text text-small text-gray">Total Order</div>

                            <span class="icon analytic__arrow"
                                style="background-image: url('/svg/analytic/blue-arrow.svg');">
                            </span>
                        </div>
                    </div>
                    <div class="analytic analytic--double analytic--purple">
                        <span class="icon analytic_button icon--color-purple click icon_button"
                            style="background-image: url('/svg/analytic/money.svg');">
                        </span>

                        <div class="relative vertical vertical-small">
                            <div class="analytic__title text text-light">$500.00</div>
                            <div class="analytic__info text text-small text-gray">Total earning</div>

                            <span class="icon analytic__arrow"
                                style="background-image: url('/svg/analytic/purpule-arrow.svg');">
                            </span>
                        </div>
                    </div>
                    <div class="analytic--blue analytic_vertical">
                        <span class="icon analytic_button icon--color-blue click icon_button"
                            style="background-image: url('/svg/analytic/money.svg');">
                        </span>

                        <div class="relative vertical-smaller">
                            <div class="analytic__title text text-light">$203k</div>
                            <div class="analytic__info text text-small text-gray">Total Income</div>
                        </div>
                    </div>
                    <div class="analytic_vertical border-solid">
                        <span class="icon analytic_button icon_button icon--color-yellow"
                            style="background-image: url('/svg/analytic/market.svg');">
                        </span>

                        <div class="relative vertical-smaller">
                            <div class="analytic__title text text-black">$203k</div>
                            <div class="analytic__info text text-small text-black-light">Total Income</div>
                        </div>
                    </div>
                </section>
                <section class="pay_block">
                    <div class="purchase-list">
                        <h2 class="purches-list-title text-black">Purchase list</h2>
                        <div class="devider"></div>
                        <div class="purches-list-content">
                            <div class="window-info">
                                <div class="window-info-content">
                                    <p class="id text-black text-bold">ID437661</p>
                                    <p class="date text-black text-bold">May 11, 2023, 14:21</p>
                                </div>
                                <div class="window-info-content">
                                    <p class="airon text-black text-bold">AirOn ProCam</p>
                                    <p class="usb text-black text-bold">7/8 USB Type-C</p>
                                </div>
                                <div class="window-info-content">
                                    <p class="money text-black text-bpld">132.32 EUR</p>
                                    <p class="not_paid text-red text-bold">Not paid</p>
                                </div>
                                <div class="window-info-content">
                                    <p class="customer text-black text-bpld">Customer</p>
                                    <p class="email text-black text-bold">robin@com.de</p>
                                </div>
                            </div>
                            <div class="devider"></div>
                            <div class="window-info line">
                                <div class="window-info-content">
                                    <p class="id text-black text-bold">ID437661</p>
                                    <p class="date text-black text-bold">May 11, 2023, 14:21</p>
                                </div>
                                <div class="window-info-content">
                                    <p class="airon text-black text-bold">PHILIPS Essential</p>
                                    <p class="usb text-black text-bold">HD9200/90</p>
                                </div>
                                <div class="window-info-content">
                                    <p class="money text-black text-bpld">543 USD</p>
                                    <p class="not_paid text-green text-bold">Pay by Stripe</p>
                                </div>
                                <div class="window-info-content">
                                    <p class="customer text-black text-bpld">Customer</p>
                                    <p class="email text-black text-bold">dima@com.ua</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pay_menu">
                        <h2 class="pay_menu_title text text-line">Payment</h2>
                        <div class="devider"></div>
                        <div class="pay_menu_content">
                            <div class="radio_button">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="radioButton" id="radioButton1"
                                        checked>
                                    <label class="form-check-label" for="radioButton1">
                                        Credit card
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="radioButton" id="radioButton2">
                                    <label class="form-check-label" for="radioButton2">
                                        Debit card
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="radioButton" id="radioButton3">
                                    <label class="form-check-label" for="radioButton3">
                                        PayPal
                                    </label>
                                </div>
                            </div>

                            <div class="forms">
                                <div class="form">
                                    <h1 class="form_title text text-black">Name on card</h1>
                                    <input type="text" class="form-control" id="FormControlInput1">
                                </div>
                                <div class="form">
                                    <h1 class="form_title text text-black">Credit card number</h1>
                                    <input type="number" class="form-control" id="FormControlInput1">
                                </div>
                                <div class="form">
                                    <h1 class="form_title text text-black">Expiration</h1>
                                    <input type="text" class="form-control" id="FormControlInput1">
                                </div>
                                <div class="form">
                                    <h1 class="form_title text text-black">CVV</h1>
                                    <input type="number" class="form-control" id="FormControlInput1">
                                </div>
                            </div>
                            <div class="devider"></div>

                            <div class="select">
                                <div class="relative click choose">
                                    <h1 class="select_title text text-black">Country</h1>
                                    <div class="field field_select">
                                        <span class="icon-arrow-down analytic_button icon_button"
                                            style="background-image: url('/svg/analytic/arrow-down.svg');">
                                        </span>
                                        <span class="text text-black">Choose...</span>
                                    </div>
                                    <select class="field__select">
                                        <option value="dog">Dog</option>
                                        <option value="cat">Cat</option>
                                        <option value="hamster">Hamster</option>
                                        <option value="parrot">Parrot</option>
                                        <option value="spider">Spider</option>
                                    </select>
                                </div>


                                <div class="relative click choose">
                                    <h1 class="select_title text text-black">State</h1>
                                    <div class="field field_select">
                                        <span class="icon-arrow-down analytic_button icon_button"
                                            style="background-image: url('/svg/analytic/arrow-down.svg');">
                                        </span>
                                        <span class="text text-black">Choose...</span>
                                    </div>
                                    <select class="field__select">
                                        <option value="dog">Dog</option>
                                        <option value="cat">Cat</option>
                                        <option value="hamster">Hamster</option>
                                        <option value="parrot">Parrot</option>
                                        <option value="spider">Spider</option>
                                    </select>
                                </div>
                            </div>
                            <div class="devider"></div>

                            <div class="button">
                                <button class="button click text">Continue to checkout
                                    <link rel="stylesheet" href="#">
                                </button>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </main>
    </div>

    {{!--
    < src='https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js'>
        </script> --}}
</body>

</html>