{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

{{! <div class="p-5 box">
    <h1>USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h1>

    <h2 id="user">USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h2>

    <button type="button" class="button">Купити</button>

    <p class="user">link</p>
</div> }}

<section class='p-5 box'>
  <h1 class='text-center mb-5'>Словник з css</h1>
  <h1>USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h1>
  <p class='user'>Link</p>
</section>

<section class='p-5 box'>
  <h1>USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h1>
  <p class='user'>Link</p>
</section>

<hr class='my-5' />

<div class='card p-5 m-5 card-dark'>
  <ul>
    <li class='item'>1</li>
    <li class='item'>2</li>
    <li class='item'>3</li>
    <li class='item'>4</li>
  </ul>
</div>

<div class='card p-5 m-5 card-dark'>
  <ul>
    <li>
      Test
    </li>
  </ul>
</div>

<div
  class='card p-5 m-5'
  style='background-color: rgb(171, 168, 168);'
>
  <div class='item'>First</div>
  <p class='item'>Second</p>
  <article class='item'>Last</article>
  <div class='item'>Thre</div>
</div>

<div
  class='card p-5 m-5'
  style='background-color: rgb(171, 168, 168);'
>
  <div class='item'>First</div>
  <p class='item'>Second</p>
  <p class='item'>Secnd</p>
  <strong class='item'>Test strong</strong>
  <article class='item'>Last</article>
  <article class='item'>Last</article>
  <div class='item'>First</div>
</div>

<div
  class='card p-5 m-5'
  style='background-color: rgb(171, 168, 168);'
>
  <p class='b'>1</p>
  <p class='b'>2</p>
  <p class='b'>3</p>
</div>

<div
  class='card p-5 m-5'
  style='background-color: rgb(171, 168, 168);'
>
  <p>1</p>
  <p class='big'>2</p>
  <p>3</p>
  <p></p>
</div>

<div class='card p-5 m-5 card-dark'>
  <input class='input-dark' reguired />
  <input class='input-dark' />
</div>

<div class='card p-5 m-5 card-dark'>
  <input class='input-dark' reguired />
  <input class='input-dark' type='number' />
</div>

<div class='card p-5 m-5 card-dark'>
  <img
    alt='image small card 100px'
    class='small-img'
    src='https://picsum.photos/200/300'
    height='100px'
  />

  <img
    alt='image card 100px'
    class='mt-3 small-img'
    src='https://picsum.photos/200/300'
    height='100px'
  />
  <br />
  <button class='btn'>Click me</button>
  <br />
  <a
    href='https://picsum.photos/200/300'
    class='btn btn-secondary'
  >Click me 2</a>
  <br />
  <a
    href='https://picsum.photos/200/300'
    class='small btn btn-secondary'
  >Click me 3</a>
  <br />
  <a
    href='https://picsum.photos/200/300'
    class='small btn btn-secondary big'
  >Click me 3</a>
</div>
<div class='card m-5 p-5 card-dark'>
  <p class='big-text'>
    This is text about info big test info
    <br />
    This is text about info big test info
  </p>
</div>

<div class='card p-5 m-5 card-dark'>
  <input class='input-dark' placeholder='Name' />
</div>

<div class='card p-5 m-5 card-blue'>
  <a href='#'>facebook</a>
  <a href='#'>home</a>
  <a href='#'>twitter</a>
</div>
<div class='card p-5 m-5 card-blue'>
  <button>cklik me</button>
  <input />
</div>

<div lang='fr' class='card p-5 m-5 card-dark'>
  <a class='link' href='https://www.speedtest.net/'>
    Click me
  </a>
</div>

<div lang='en' id='test' class='card p-5 m-5 card-dark'>
  <input />
  <span>Hello world</span>
  <button>test button</button>
</div>
<div class='p-5 m-5 card-dark'>
  <button>test button</button>
  <button disabled>disabled button</button>
</div>
<div class='p-5 m-5 card-dark'>
  <input class='inp' />
  {{! якщо вписати readonly то зміниться колір }}
  <div class='mt-5'>
    <div>
      <input type='checkbox' checked />
      <span>First checkbox</span>
    </div>
    <div>
      <input type='checkbox' />
      <span>Second checkbox</span>
    </div>
  </div>
</div>

<div class='p-5 m-5 card-dark'>
  <input type='email' required class='valid' />
  <input type='email' class='valid' />
</div>

<div class='p-5 m-5 card-dark'>
  <div class='mb-3'>
    <input type='email' class='valid' placeholder='test' />
    <span>Test text</span>
  </div>

  <div>
    <input
      type='number'
      min='10'
      max='20'
      required
      class='number'
    />
  </div>
</div>

{{! <footer class="p-5 box">
    <h1>USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h1>

    <p class="user">Link
        <em class="child">Test EM</em>
    </p>
    <div>
        <div>
            <em class="child">Test EM</em>
        </div>
    </div>

    <div class="child">Test EM</div>
</footer> }}

{{!
Цей код містить лише те, що буде виводитись в

<body>
    Адже наш layout/default.hbs має вже структуру HTML
    }}